<?xml version="1.0"?>
<launch>
    <node pkg="rubiker" type="pid" name="pidFW" output="screen" args="$(env MotorFW)"/>
    <node pkg="rubiker" type="pid" name="pidFH" output="screen" args="$(env MotorFH)"/>
    <node pkg="rubiker" type="pid" name="pidBW" output="screen" args="$(env MotorBW)"/>
    <node pkg="rubiker" type="pid" name="pidBH" output="screen" args="$(env MotorBH)"/>
<!--    <node pkg="rubiker" type="master" name="master" output="screen" required="true"/> -->
    <node pkg="rubiker" type="tacho" name="tachoFW" output="screen" args="$(env MotorFW)"/>
    <node pkg="rubiker" type="tacho" name="tachoFH" output="screen" args="$(env MotorFH)"/>
    <node pkg="rubiker" type="tacho" name="tachoBW" output="screen" args="$(env MotorBW)"/>
    <node pkg="rubiker" type="tacho" name="tachoBH" output="screen" args="$(env MotorBH)"/>
</launch>
